@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: block;
    margin: 0px;
}

.header {
    display: flex;
    background: #1f2937;
    height: 100px;
    color: #f9faf8;
    font-size: 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

.image {
    width: 200px;
    height: 200px;
    border: solid #3882f6;
    border-radius: 12px;
}

ul {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    gap: 8px;
}

.intro {
    display: flex;
    background: #1f2937;
    height: 250px;
    justify-content: space-between;
    margin-bottom: 48px;
    padding: 0px 100px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.site-image {
    width: 400px;
    height: 200px;
}

.dedo {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up {
    height: 30px;
    width: 100px;
    background-color: #3882f6;
    border: 2px solid #3882f6;
    color: #e5e7eb;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 8px;
}

.image-blocks, .text-blocks {
    display: flex;
    flex-direction: row;
    
}

.information-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 18px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.image-blocks {
    gap: 8px;
    justify-content: center;
}

.text-blocks {
    gap: 8px;
    justify-content: center;
}

.block {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 200px;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-quote {
    align-items: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.author {
    align-items: flex-end;
    font-weight: 600;
}

.registration {
    display: flex;
    margin: 50px 100px;
    background-color: #3882f6;
    justify-content: space-between;
    padding: 50px 100px;
}

.rtext {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.registration-button {
    background-color: #3882f6;
    border: 2px solid white;
    color: #e5e7eb;
    border-radius: 12px;
    height: 30px;
    width: 100px;
}

.title, .promo {
    color: #e5e7eb;
}

.title {
    font-size: 24px;
    font-weight: 800;
}

.promo {
    font-size: 18px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    background: #1f2937;
    height: 48px;
    margin-top: auto;
}